h1 {
    color:#afffff;
    font-size: 100px;
    text-align: center;
    font-family: cursive;
}

body {
  background-image: url(https://a2ua.com/bokeh/bokeh-004.jpg);
}

p {
  text-align: center;
  font-size: 150%;
  font-family: serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
